<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/myHospital">My Hospital</a>
        <a href="/myRequests">My Requests</a>
        <a href="/medicalRequest">Medical Upgrade</a>
        <a href="/hospitalrequest">Hospital Creation</a>
        <a href="/">Logout</a>
    </div>

    <main>
        <h1>My Hospital</h1>

        <form action="/beMedicalAccount" method="post">
            <input type="submit" value="Click to be Medical Account">
        </form>

        <% if (user.hospitalOwner) {%>
            <div class="row">
                <%hospital.forEach( (hosp) => { %>
                    <div class="column">
                        <p>Hospital name: </p>
                        <p>My staff:
                        <% if (staff) { %>
                            You currently have <%= staff.length %> staff member(s).
                            <% if (staff.length > 0) { %>
                                <% staff.forEach( (member) => { %>
                                    <br> <%= member.username %>
                                <% }); %>
                            <% } %>
                        <% } else { %>
                            You currently have no staff. Enter information in the form below to add staff!
                        <% } %></p>
                    </div>
                <%});%>
            </div>

            <div class="row">
                <div class="column">
                    <p> Add Staff: </p>
                    <form action="/addStaff" method="post">
                        <label for="enterStaffUsernameAdd"> Enter Staff Username: </label> <br>
                        <input type="text" name="enterStaffUsernameAdd"> <br>
                        <label for="enterHospitalNameAdd"> Enter Hospital name: </label> <br>
                        <input type="text" name="enterHosptialNameAdd"> <br>
                        <input type="Submit" value="Add Staff">
                    </form>
                </div>
                <div class="column">
                    <p> Remove Staff: </p>
                    <form action="/removeStaff" method="post">
                        <label for="enterStaffUsernameRemove">Enter Staff Username: </label> <br>
                        <input type="text" name="enterStaffUsernameRemove"> <br>
                        <label for="enterHospitalNameRemove"> Enter Staff Username: </label> <br>
                        <input type="text" name="enterHospitalNameRemove"> <br>
                        <input type="Submit" value="Remove Staff">
                    </form>
                </div>
            </div>
        <%} else { %>
            <p style="color: darkred;">You do not have access to this functionality.</p>
            <p>Please apply to become a hospital owner and we will gladly review your application. Upon acceptance, we will add your hospital to our information and you will then have access to this functionality.</p>
        <% } %>
    </main>

</body>
