
<head>
    <script src="../mainLogin.js"></script>
    <link rel='stylesheet' href='/styles/stylesDashboard.css'/>
    <title>Vaccine App Dashboard</title>
</head>

<body class="container">
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/myHospital">My Hospital</a>
        <a href="/myRequests">My Requests</a>
        <a href="/medicalrequest">Medical Upgrade</a>
        <a href="/">Logout</a>
    </div>

    <main>
        <h1 style='color: darkred;'>Error</h1>
        
        <% if (status == 0) {%>
           <p>Sorry, but the staff member you wanted to add/remove is not a medical account. It must be that an account is approved to be a medical account before they can be added/removed to a hosptial staff.</p>
        <%} else if (status == 1) { %>
            <p>Sorry, but the staff member you wanted to add/remove does not have an account. Make sure they make an account on the application, and are approved to be a medical account, and then try again!</p>
        <%} else {%>
            <p>Sorry, but the staff member you wanted to remove does not exist in this hospital.</p>
        <% } %>
    </main>

</body>