<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.cis350.hw4">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".VaccineInfoActivity"></activity>
        <activity android:name=".AllVaccinesActivity" />
        <activity android:name=".AppSearchActivity" />
        <activity android:name=".AppSearchAllActivity" />
        <activity android:name=".AppSearchSomeActivity" />
        <activity android:name=".ProcedureSignupActivity" />
        <activity android:name=".ViewInfoActivity" />
        <activity android:name=".SelectHospitalActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".ImagePickerActivity" />
        <activity
            android:name=".Options"
            android:label="@string/title_activity_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddOneVaccine"
            android:label="@string/title_activity_add_one_vaccine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewVaccinesActivity"
            android:label="@string/title_activity_add_vaccine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login2Activity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>